<div class="jumbotron text-center bg-dark" style="color: aliceblue">
  <h1 class="display-3">{{title}}</h1>
  <h1>Hey, Welcome </h1>
  <h3 class="lead">Come, jot down your ideas to keep them safe.</h3>
  <a href="/ideas/add" class="btn btn-success btn-success">Click to add an Idea</a>
</div>